<div class="turn-controller">
  <button
    (click)="previousRound()"
    id="buttons-turn"
    *ngIf="playerRole == 'GM'"
  >
    << Turn
  </button>
  <button (click)="nextRound()" id="buttons-turn" *ngIf="playerRole == 'GM'">
    Turn >>
  </button>
</div>
<div *ngFor="let player of players" id="player-{{ player.id }}">
  <span class="player-data">
    <p class="player-label">{{ player.name }}</p>
    <p class="player-label">Life:</p>
    <div class="player-health-bar player-status-bar">
      <!-- Mostrar barra normal para GM ou se player.type não for 'monster' -->
      <div
        *ngIf="playerRole === 'GM' || player.type !== 'monster'"
        [ngStyle]="{ width: player.statusLifePercent + '%' }"
        class="player-health-fill"
        id="health-fill"
      >
        {{ player.statusLifePercent }}%
      </div>

      <!-- Mostrar barra com ??? e fundo preto para jogadores e se player.type for 'monster' -->
      <div
        *ngIf="playerRole === 'player' && player.type === 'monster'"
        [ngStyle]="{
          width: player.statusLifePercent + '%',
          backgroundColor: 'black'
        }"
        class="player-health-fill"
        id="health-fill"
      >
        ???
      </div>
    </div>
    <p class="player-label">Mana:</p>
    <div class="player-mana-bar player-status-bar">
      <!-- Mostrar barra normal para GM ou se player.type não for 'monster' -->
      <div
        *ngIf="playerRole === 'GM' || player.type !== 'monster'"
        [ngStyle]="{ width: player.statusManaPercent + '%' }"
        class="player-mana-fill"
        id="mana-fill"
      >
        {{ player.statusManaPercent }}%
      </div>

      <!-- Mostrar barra com ??? e fundo preto para jogadores e se player.type for 'monster' -->
      <div
        *ngIf="playerRole === 'player' && player.type === 'monster'"
        [ngStyle]="{
          width: player.statusManaPercent + '%',
          backgroundColor: 'black'
        }"
        class="player-mana-fill"
        id="mana-fill"
      >
        ???
      </div>
    </div>
    <p class="player-label">Stamina:</p>
    <div class="player-stamina-bar player-status-bar">
      <!-- Mostrar barra normal para GM ou se player.type não for 'monster' -->
      <div
        *ngIf="playerRole === 'GM' || player.type !== 'monster'"
        [ngStyle]="{ width: player.statusStaminaPercent + '%' }"
        class="player-stamina-fill"
        id="stamina-fill"
      >
        {{ player.statusStaminaPercent }}%
      </div>

      <!-- Mostrar barra com ??? e fundo preto para jogadores e se player.type for 'monster' -->
      <div
        *ngIf="playerRole === 'player' && player.type === 'monster'"
        [ngStyle]="{
          width: player.statusStaminaPercent + '%',
          backgroundColor: 'black'
        }"
        class="player-stamina-fill"
        id="stamina-fill"
      >
        ???
      </div>
    </div>
    <span *ngIf="playerRole == 'GM'" class="order-player">
      <img
        (click)="sortUpPlayer(player)"
        id="seta-cima"
        class="order-player-seta"
        src="/seta.svg"
        style="transform: rotate(270deg)"
        width="10px"
        alt=""
      />
      <img
        (click)="sortDownPlayer(player)"
        id="seta-baixo"
        class="order-player-seta"
        src="/seta.svg"
        style="transform: rotate(90deg)"
        width="10px"
        alt=""
      />
    </span>
  </span>
  <span class="player-data-points">
    <div id="player-data-points-life">
      <p>Life:</p>
      <p>
        {{
          player.type == "monster" && playerRole != "GM" ? "???" : player.life
        }}
        : {{ player.statusLife - player.life }}
      </p>
    </div>

    <div id="player-data-points-mana">
      <p>Mana:</p>
      <p>
        {{
          player.type == "monster" && playerRole != "GM" ? "???" : player.mana
        }}
        : {{ player.statusMana - player.mana }}
      </p>
    </div>

    <div id="player-data-points-stamina">
      <p>Stamina:</p>
      <p>
        {{
          player.type == "monster" && playerRole != "GM"
            ? "???"
            : player.stamina
        }}
        : {{ player.statusStamina - player.stamina }}
      </p>
    </div>
  </span>
  <span *ngIf="playerRole == 'GM'" class="player-action">
    <ul class="player-action-list">
      <li class="player-action-list-item">
        <input
          type="number"
          [(ngModel)]="damageAmount"
          #damageinput
          class="player-action-list-input"
        />
        <img
          id="combat-menu-player-life-button"
          class="player-action-list-button"
          src="/blood.svg"
          (click)="updatePlayerLife(player, damageinput.value)"
        />
      </li>

      <li class="player-action-list-item">
        <input
          [(ngModel)]="manaAmount"
          #manaInput
          type="number"
          class="player-action-list-input"
        />
        <img
          (click)="updatePlayerMana(player, manaInput.value)"
          id="combat-menu-player-mana-button"
          class="player-action-list-button"
          src="/potion.png"
        />
      </li>

      <li class="player-action-list-item">
        <input
          [(ngModel)]="staminaAmount"
          #staminaInput
          type="number"
          class="player-action-list-input"
        />
        <img
          (click)="updatePlayerStamina(player, staminaInput.value)"
          id="combat-menu-player-stamina-button"
          class="player-action-list-button"
          src="/stamina.png"
        />
      </li>
      <li (click)="removeFromCombat(player)" class="player-action-list-item">
        <img src="/trash.svg" id="trash-icon" />
      </li>
    </ul>
  </span>
</div>
