<div *ngFor="let player of players" id="player-{{player.name}}">
  <span class="player-data">
    <p class="player-label">{{ player.name }}</p>
    <p class="player-label">Life:</p>
    <div class="player-health-bar player-status-bar">
      <div class="player-health-fill" id="health-fill">
        {{ player.statusLifePercent }}%
      </div>
    </div>
    <p class="player-label">Mana:</p>
    <div class="player-mana-bar player-status-bar">
      <div class="player-mana-fill" id="mana-fill">
        {{ player.statusManaPercent }}%
      </div>
    </div>
    <p class="player-label">Stamina:</p>
    <div class="player-stamina-bar player-status-bar">
      <div class="player-stamina-fill" id="stamina-fill">
        {{ player.statusStaminaPercent }}%
      </div>
    </div>
    <span class="order-player">
      <img
        id="seta-cima"
        class="order-player-seta"
        src="/seta.svg"
        style="transform: rotate(270deg)"
        width="10px"
        alt=""
      />
      <img
        id="seta-baixo"
        class="order-player-seta"
        src="/seta.svg"
        style="transform: rotate(90deg)"
        width="10px"
        alt=""
      />
    </span>
  </span>
  <span class="player-data-points">
    <div id="player-data-points-life">
      <p>Life:</p>
      <p>{{player.life}} : {{player.statusLife}}</p>
    </div>

    <div id="player-data-points-mana">
      <p>Life:</p>
      <p>{{player.mana}} : {{player.statusMana}}</p>
    </div>

    <div id="player-data-points-stamina">
      <p>Life:</p>
      <p>{{player.stamina}} : {{player.statusStamina}}</p>
    </div>

    <div id="player-data-points-initiative">
      <p>Initiative:</p>
      <p>{{player.life}} : {{player.statusLife}}</p>
    </div>

  </span>
  <span class="player-action">
    <ul class="player-action-list">

      <li class="player-action-list-item">
        <input
          type="number"

          [(ngModel)]="damageAmount"
          #damageinput
          class="player-action-list-input"
        />
        <img
          id="combat-menu-player-life-button"
          class="player-action-list-button"
          src="/blood.svg"
          (click)="player.lifeController(damageinput.value)"
        />
      </li>

      <li class="player-action-list-item">
        <input
        [(ngModel)]="manaAmount"
        #manaInput
        type="number"
        class="player-action-list-input" />
        <img
          (click)="player.manaController(manaInput.value)"
          id="combat-menu-player-mana-button"
          class="player-action-list-button"
          src="/potion.png"
        />
      </li>

      <li class="player-action-list-item">
        <input
        [(ngModel)]="staminaAmount"
        #staminaInput
        type="number"

        class="player-action-list-input" />
        <img
          (click)="player.staminaController(staminaInput.value)"
          id="combat-menu-player-stamina-button"
          class="player-action-list-button"
          src="/stamina.png"
        />
      </li>
      <li class="player-action-list-item">
        <img src="/trash.svg" id="trash-icon">
      </li>
    </ul>
  </span>
</div>
